<!DOCTYPE html>
<html>
    <head>
        <title>Caldrivers.com - Free driving school</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
        <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="assets/css/about.css" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand" id="main-logo">Caldrivers.com</a><span class="navbar-brand" id="motto">&nbsp;- California&apos;s first free online driving school</span></span>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/disclaimer">Get Started</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div style="padding-top:5%;padding-left:5%;padding-right:5%;background-color:rgba(5,5,5,0.5);font-size: 16pt; color: yellow">
                <p>
                    TLDR (The short version):  Free lesson, quizzes, exams!  If you want the signed California DMV Certificate by an instructor after you completed the course, we will ask you for a nominal fee at that point.  Not anytime before.
                </p>
                <div>
Mission:
<br />
<br />
Our mission is to teach potential drivers how to drive safely.  We believe that every driver should know the rules and regulations provided by the California DMV.  This prevents accidents and saves lives for everyone.  To achieve our mission, we provide a California DMV approved lesson that includes slides, videos, quizzes, and a final exam AT NO CHARGE.  FREE. Other courses require you to pay a fee without even seeing any of the lesson or the materials. That is not fair.  We believe that the knowledge should be free to everyone without any terms.
<br />
<br />
Our past:
<br />
<br />
Launched in 2014, Our California DMV approved lesson plan has successfully taught thousands of students California DMV's driving rules and regulations. Our approach always began with open access to the lesson, quizzes, and exams. We will keep it that way so that every driver out there has equal opportunity to become a safe driver.
<br />
<br />
How it works:
<br />
<br />
Simple.  You register an email and create a password.  That's it.  This allows you to look at the material, quizzes, and tests and allow you to take the course with the least amount of work.  You can take the course, quizzes, and tests at your own pace and at your own leisure.  You can even take the course, quizzes, and tests on multiple devices.  Because you have registered, we remember where you left so that you can seamlessly continue taking the course wherever and whenever.  You can take the course, quizzes, and tests as many times as you like until you feel satisfied and confident that you know the rules and regulations for driving in the state of California.
<br />
<br />
Once you pass the final exam, you have the option of receiving the required California DMV certificate signed by an approved, bonded California DMV driving instructor.  The instructor will review your quizzes and exams and ensure you meet all the requirements for the classroom phase of the California DMV learner's permit program.  At this point, we will require you register your name and address with us (so we know where to send your certificate).  Our system will record your answers from the final exam (for audit purposes) and a California DMV instructor will sign your certificate and send it out to you.  Under no circumstances will we divulge your information to any third party.  Ever.
<br />
<br />
What's the catch?  Nothing is free:
<br />
There is no catch.  The lesson, quizzes, and tests are given to the student at no charge.  Feel free to take the lesson, quizzes, and test as many times as you like.  However, in order for a California DMV approved instructor to review, sign and send out your California DMV certificate, we will require a nominal fee.
</div>

<div id="terms">
<h1>Terms and Conditions</h1>
<div>
<h2>Pricing</h2>
Standard fee: $49.95 includes review, processing, signature, and delivery.
Optional fee for expedited review, processing, signature, and delivery for an addition $19.95.
</div>

<div>
<h2>Processing and Shipping Information</h2>
If a signed DMV certificate is purchased, we will process and delivery with standard mail within 7 days of purchase.  Processing, shipping and handling included in the price.
Optional fast track processing and rush delivery (2 day) for an additional fee of $19.95 USD.
</div>
<div>
<h2>Privacy Policy</h2>
We do not share any information with anyone.  Ever.  Nor do we keep your credit card number, we simply pass it on through the gateway helping to maintain information security.
</div>

<div>
<h2>Refund Policy</h2>
Our refund policy is handled on a case by case basis.  While we anticipate you will be satisfied with the signed certificate, we understand there may certain situations which may warrant a refund.
</div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
