<!DOCTYPE html>
<html>
    <head>
        <title>Caldrivers.com - Free driving school</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/js/creditcardjs/creditcardjs-v0.10.13.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/reveal/css/theme/moon.css" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand" id="main-logo">Caldrivers.com</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse" style="font-family: Arial">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/status">{{ email }}</a></li>
                        <li><a href="/">Home</a></li>
                        <li><a href="/disclaimer">Get Started</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        {% if email %}<li><a href="/logout">Logout</a></li>{% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div style="padding-top:65px;font-family:Arial;color:#eee8d5">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <h2>USERS</h2>
                        <pre id="user_data">
                        </pre>
                    </div>
                    <div class="col-xs-6">
                        <div class="table-responsive">
                            <table class="table">
                                <tr><th></th><th>Admin</th><th>Email</th><th>Register Date</th><th>Last Login</th></tr>
                                {% for user in user_data %}
                                    {% set nq = loop.index0 %}
                                        <tr><td>{{nq}}</td><td><input class="admin_box" type="checkbox" email="{{ user.email }}" {% if user.admin == 1 %}checked{% endif %} /></td><td class="the_user">{{ user.email }}</td><td>{{ user.datetime }}</td><td>{{ user.lastlogin }}</td></tr>
                                    {% else %}
                                        <tr><td>Blank</td></tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function() {
                $('.the_user').click(function() {
                    $('#user_data').text('');
                    email = $(this).text();
                    console.log(email);
                    $.post('/getuser',
                        {
                            'email': email
                        }, function(data) {
                            $('#user_data').text(JSON.stringify(data, null, 4));
                        }, 'json'
                    );
                });

                $('.admin_box').click(function() {
                    email = $(this).attr('email');
                    checked = false;
                    if ($(this).prop('checked')) {
                        checked = true;
                    } else {
                        checked = false;
                    }
                    console.log(email + checked);
                    $.post('/setadmin',
                        {
                            'email': email,
                            'admin': checked
                        }, function(data) {
                            console.log(data);
                        }
                    );
                });
            });
        </script>
    </body>
</html>
