<!DOCTYPE html>
<html>
    <head>
        <title>Caldrivers.com - Free driving school</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
        <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="assets/css/about.css" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand" id="main-logo">Caldrivers.com</a><span class="navbar-brand" id="motto">&nbsp;- California&apos;s first free online driving school</span></span>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/disclaimer">Get Started</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div style="padding-top:5%;padding-left:5%;padding-right:5%;background-color:rgba(5,5,5,0.5);font-size: 16pt; color: yellow">
<div>
<h2>Contact us:</h2>
Questions or comments? Please send email to <a href="mailto:support@caldrivers.com">support@caldrivers.com</a>
</div>
<div>
<h2>Corporate Information</h2>
Doing business as: Caldrivers.com  (Legal Name: Diversified Brands International, LLC)
<br />
PH: +1 310 736 6557
<br />
Email: support@caldrivers.com
</div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
