<html>
    <head>
        <title>Caldrivers.com - Free driving school</title>
        <link rel="stylesheet" href="/assets/css/sc-btn.css" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
        <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="assets/css/about.css" />
        <link rel="stylesheet" href="assets/reveal/css/reveal.css">
        <link rel="stylesheet" href="assets/reveal/css/theme/moon.css">
        <style>
            .sm_signin_button {
                height:45px;
                padding: 5px 5px 5px 5px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand" id="main-logo">Caldrivers.com</a><span class="navbar-brand" id="motto">&nbsp;- California&apos;s free online driving school</span></span>
                </div>
                <div id="navbar" class="collapse navbar-collapse" style="font-family:Arial">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/lesson">Get Started</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <div>
                        <!-- FACEBOOK -->
                        <a href="/auth/facebook">
                            <img class="sm_signin_button" src="/assets/img/social_media/sign_in/svg/Flat/facebook.svg" />
                        </a>
                    </div>
                    <div>
                        <!-- GOOGLE PLUS -->
                        <a href="/auth/google">
                            <img class="sm_signin_button" src="/assets/img/social_media/sign_in/svg/Flat/google.svg" />
                        </a>
                    </div>
                    <div>
                        <a href="/auth/windowslive">
                            <img class="sm_signin_button" src="/assets/img/social_media/sign_in/svg/Flat/windows.svg" />
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    <div>
                        <!-- TWITTER -->
                        <a href="/auth/twitter">
                            <img class="sm_signin_button" src="/assets/img/social_media/sign_in/svg/Flat/twitter.svg" />
                        </a>
                    </div>
                    <div>
                        <!-- STEAM -->
                        <a href="/auth/steam">
                            <img class="sm_signin_button" src="/assets/img/social_media/sign_in/svg/Flat/steam.svg" />
                        </a>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div style="padding-top:10px">
                        <form class="form-signin" method="post" action="/auth/local">
                            <label for="inputEmail" class="sr-only">Email address</label>
                            <input type="email" id="email" class="form-control" name="email" placeholder="Email address" required autofocus>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                        </form>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" onClick="window.location='/register'">Register</button>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
