<!DOCTYPE html>
<html>
    <head>
        <title>Caldrivers.com - Free driving school{{ title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/reveal/css/reveal.css" />
        <link rel="stylesheet" type="text/css" href="/assets/reveal/css/theme/moon.css" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand" id="main-logo">Caldrivers.com</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse" style="font-family:Arial">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">{{ email }}</a></li>
                        <li><a href="/status">Home</a></li>
                        <li><a href="/status">Status</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="reveal">
            <div class="slides">
                <section>   
                    <a href="https://caldrivers.com/lesson/1">
                        <h3>Unit 1</h3>
                        <h4>
                            Driving Responsibilities
                        </h4>
                    </a>
                </section>
                <section>
                    <a href="https://caldrivers.com/lesson/2">
                        <h3>Unit 2</h3>
                        <h4>Human physical and psychological issues</h4>
                    </a>
                </section>
                <section>
                    <a href="https://caldrivers.com/lesson/3">
                        <h3>Unit 3</h3>
                        <h4>The effect of natrual forces on your vehicle</h4>
                    </a>
                </section>
                <section>
                    <a href="https://caldrivers.com/lesson/4">
                        <h3>Unit 4</h3>
                        <h4>Signs, Signals, and Road Markings</h4>
                    </a>
                </section>
                <section>
                    <a href="https://caldrivers.com/lesson/5">
                        <h3>Unit 5</h3>
                        <h4>Licensing, registration, and the California Vehicle Code</h4>
                    </a>
                </section>
                <section>
                    <a href="https://caldrivers.com/lesson/6">
                        <h3>Unit 6</h3>
                        <h4>Vehicle Components and Systems</h4>
                    </a>
                </section>
                <section>
                    <a href="https://caldrivers.com/lesson/7">
                        <h3>Unit 7</h3>
                        <h4>Rules Of THE Road And Safe Driving Practices: URBAN AND RURAL Driving</h4>
                    </a>
                </section>
                <section>
                    <a href="https://caldrivers.com/lesson/8">
                        <h3>Unit 8</h3>
                        <h4>Accidents: Causes and Prevention</h4>
                    </a>
                </section>
                <section>
                    <a href="https://caldrivers.com/lesson/9">
                        <h3>Unit 9</h3>
                        <h4>Sharing the road</h4>
                    </a>
                </section>
                <section>
                    <a href="https://caldrivers.com/lesson/10">
                        <h3>Unit 10</h3>
                        <h4>Alcohol and Drugs</h4>
                        </h4>
                    </a>
                </section>
                <section>
                    <a href="https://caldrivers.com/lesson/11">
                        <h3>Unit 11</h3>
                        <h4>Virtual drive throught the streets of Los Angeles</h4>
                        </h4>
                    </a>
                </section>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/reveal/js/reveal.js"></script>
        <script>
            Reveal.initialize();
        </script>
        </script>
    </body>
</html>
