<!DOCTYPE html>
<html>
    <head>
        <title>Caldrivers.com - Free driving school</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/assets/js/creditcardjs/creditcardjs-v0.10.13.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/reveal/css/theme/moon.css" />
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand" id="main-logo">Caldrivers.com</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse" style="font-family: Arial">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">{{ email }}</a></li>
                        <li><a href="/">Home</a></li>
                        <li><a href="/disclaimer">Get Started</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div style="padding-top:65px;font-family:Arial;color:#eee8d5">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <h2>CONGRATULATIONS!</h2>
                        <h3>You have completed the necessary coursework to apply for your learner's permit.</h3>
                        <div style="margin-bottom:1%">
                            <h3>Ship to:</h3>
                            {{ shipping.name }}<br />
                            {{ shipping.addy1}}{{ shipping.addy2}}<br />
                            {{ shipping.city}}<br />
                            {{ shipping.state}}<br />
                            {{ shipping.zip}}<br />
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <h3>Purchased</h3>
                        <div class="table-responsive">
                            <table class="table">
                                <tr><td>Exam review and certificate</td><td id="test_cost">45.99</td>
                                {% if billing.expedite == 1 %}
                                <tr class="expedited"><td>Expedited shipping and handling</td><td id="expedited_cost">14.00</td>
                                <tr class="expedited"><td>Total</td><td id="expedited_shipping_cost">59.99</td>
                                {% else %}
                                <tr class="standard"><td>Standard shipping and handling</td><td id="shipping_cost">4.00</td>
                                <tr class="standard"><td>Total</td><td id="shipping_cost">49.99</td>
                                {% endif %}
                            </table>
                        </div>
                        <div>
                            <p>{{ cc.message }}</p>
                            <p>Authorization Code: {{ cc.auth_code }}</p>
                            <p>Your credit card ({{ cc.type }}) ending in {{ cc.account}} has been successfully charged to the merchant: DRIVERSEDTODAY.NET</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h3 style="display:none" id="error_div"></h3>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script>
            function purchase() {
                $('#buy_button').prop('disabled', true);
                $.post('/do_purchase',{},
                        function(data) {
                            if (typeof data.valid !== 'undefined') {
                                window.location = '/receipt';
                            } else {
                                $('#buy_button').prop('disabled', '');
                                $('#error_div').text(data.error);
                                $('#error_div').show();
                            }
                        }, 'json'
                  );
            }
        </script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-85018330-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>
