<!DOCTYPE html>
<html>
    <head>
        <title>Caldrivers.com - Free driving school{{ title }}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <style>
            .scrollable {
                overflow-y: auto !important;
                overflow-x: hidden !important;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand" id="main-logo">Caldrivers.com</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse" style="font-family:Arial">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">{{ email }}</a></li>
                        <li><a href="/">Home</a></li>
                        <li><a href="/status">Status</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <img src="/assets/img/signs/eng_dl37-1.png" />
                    <img src="/assets/img/signs/eng_dl37-2.png" />
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
