<!DOCTYPE html>
<html>
    <head>
        <title>Caldrivers.com - Free driving school</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>
        <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
        <link href="/assets/reveal/css/reveal.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/reveal/css/theme/moon.css">
    </head>
    <body style="padding-top:65px">
        <video autoplay id="bgvid">
            <source src="assets/video/drive_by.mp4" type="video/mp4">
        </video>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand" id="main-logo">Caldrivers.com</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse" style="font-family: Arial">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">{{email}}</a></li>
                        <li><a href="/">Home</a></li>
                        <li><a href="/status">Get Started</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-sm-4"></div>
                    <div class="col-sm-4 get_started">
                        <div>
                            <h2><a style="color:#b09256;" href="/lesson/1">Begin the lesson</a></h2>
                        </div>
                        <div>
                            <h2><a style="color:#b09256;" href="/disclaimer">DMV Disclaimer (again)</a></h2>
                        </div>
                        <div>
                            <h2><a style="color:#b09256;" href="/signs">Reference material: Signs</a></h2>
                        </div>
                        <div>
                            <h2><a style="color:#b09256;" href="/overview">Lesson Overview</a></h2>
                        </div>
                        <div>
                            <h2><a style="color:#b09256;" href="/logout">Logout</a></h2>
                        </div>
                    </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="/assets/reveal/js/reveal.js"></script>
        <script>
            Reveal.initialize();
        </script>
    </body>
</html>
